{% extends 'kmain.html' %}
{#{% block showsiderbar %}{% endblock %}#}
{% block showinfomation %}
{#        <div class="panel panel-info" style="margin: 30px;"> <!--if showsiderbar is work ,just delete this panel-->#}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <ol class="breadcrumb">
                        <li><a href="/kadmin/">All</a></li>
                        <li class="active">{{ appname }}</li>
                    </ol>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Table Name</th>
                            <th>ADD</th>
                            <th>Change</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for modelname in showapp %}
                            <tr>
                                <td><a href="{% url 'table_obj_list' appname modelname %}">{{ modelname }}</a></td>
                                <td><a href="{% url 'table_obj_add' appname modelname %}">Add</a></td>
                                <td><a href="{% url 'table_obj_list' appname modelname %}">Change</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
{% endblock %}