{% extends 'kbase.html' %}
{% block for_dashboard %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/kadmin">{% block pro_name %}kadmin{% endblock %}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.username == '' %}
                        <li><a href="/kadmin/klogin/">login</a></li>
                    {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="true">{{ request.user }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/kadmin/">Setting</a></li>
                                <li><a href="/kadmin/klogout/">Logout</a></li>
                                {#                            <li><a href="#">Something else here</a></li>#}
                                {#                            <li role="separator" class="divider"></li>#}
                                {#                            <li class="dropdown-header">Nav header</li>#}
                                {#                            <li><a href="#">Separated link</a></li>#}
                                {#                            <li><a href="#">One more separated link</a></li>#}
                            </ul>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            {% block showsiderbar %}
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        {% for role in request.user.userprofile.role.all %}
                            {% for menu in role.menus.all %}
                                <li class="active"><a href="{% if menu.url_type == 0 %}{{ menu.url }}{% else %}{% url menu.url %}{% endif %}">{{ menu.name }}<span
                                        class="sr-only">(current)</span></a></li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% endblock %}
            {% block showinfomation %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

