{% extends 'kmain.html' %}
{% load kadmin_tags %}
{% block showsiderbar %}{% endblock %}
{% block showinfomation %}
    <div class="panel panel-info" style="margin: 30px;">
        <div class="panel-heading">
            <div><h3 class="panel-title"><a href="/kadmin/">{{ appname }}</a>-->><a
                    href="/kadmin/{{ appname }}/{{ modelname }}/">修改【{{ modelname }}】</a>{{ form_obj.errors }}</h3></div>
        </div>
        <div class="panel-body">
            {% include 'table_obj_form_base.html' %}
        </div>
    </div>
{% endblock %}