{% extends 'kmain.html' %}
{% load kadmin_tags %}
{% block showsiderbar %}{% endblock %}
{% block showinfomation %}
    <div class="panel panel-info" style="margin: 30px;">
        <div class="panel-heading">
            <table>
                <tr>
                    <td>
                        <div><h3 class="panel-title"><a href="/kadmin/">{{ appname }}</a>-->>{{ modelname }}</h3></div>
                    </td>
                    <td>
                        <div style="margin-left: 20px;margin-right: 20px;">{% if admin_class.list_filter %}
                            <form>
                                {% for filter_column in admin_class.list_filter %}
                                    {% build_filter_element filter_column admin_class %}
                                {% endfor %}
                                <input type="hidden" name="_o" value="{% get_order_number current_order_column %}">
                                <input type="hidden" name="_kpage" value="{{ queryset.number }}">
                                <input type="submit" value="Go">
                            </form>
                        {% endif %}</div>
                    </td>
                    <td>
                        <div>
                            <form>
                                <input style="width: 260px;" type="text" name="_q" value="{{ admin_class.search_key }}"
                                       placeholder="{% pleace_holder_search admin_class %}">
                                <input type="hidden" name="_o" value="{% get_order_number current_order_column %}">
                                {% for k,v in admin_class.filter_condition.items %}
                                    <input type="hidden" name="{{ k }}" value="{{ v }}">
                                {% endfor %}

                                <input type="submit" value="Search!">
                            </form>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr><!--表列头排序-->
                    {% build_table_head admin_class current_order_column %}
                </tr>
                </thead>
                <tbody>

                {% for obj in queryset %}
                    <tr>
                        {% build_table_row obj admin_class appname modelname %}
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <!--paginator begin-->
            <div class="pull-right">
                {% render_paginator_button queryset admin_class current_order_column 6 %}
            </div>
            <!--paginator end-->
        </div>
    </div>
{% endblock %}